body {
  font-family: Arial, sans-serif;
}

#app {
  max-width: 1200px;
  margin: auto;
}

h1, h2, h3, h4, h5, h6 {
  color: #333;
}

p {
  line-height: 1.6;
  color: #666;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.blackboard {
  background-image: url('https://plus.unsplash.com/premium_photo-1675765793965-b5b4d394b51f?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8YmxhY2tib2FyZHxlbnwwfHwwfHx8MA%3D%3D');
  background-size: cover;
  background-position: center;
}

#name {
  font-family: 'Shadows Into Light', cursive;
  font-size: 48px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
